.game-page {
  animation: show 300ms ease-out 100ms forwards;
  align-items: center;
  gap: 2rem;
  @apply opacity-0 flex flex-1 flex-col xl:gap-0 pb-12;

  .header {
    @apply w-full flex flex-col items-center mt-12 gap-8 sm:flex-row sm:justify-between;
  }

  .main {
    flex: 1;
    margin-block: 0 3rem;
    padding-inline: 2rem;

    .goals {
      @apply text-center text-yellow-400 text-2xl mb-4 font-black;
      letter-spacing: 0.1em;
    }

    .cards-list {
      @apply w-full h-full grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(1, minmax(0, 260px));
      gap: 3rem;

      .card-container {
        @apply w-full h-full bg-transparent;
        perspective: 1500px;

        .card {
          @apply relative w-full h-full flex flex-col items-center justify-center cursor-pointer;
          transition: transform 600ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
          transform: rotateX(0deg) rotateY(0deg);
          transform-style: preserve-3d;
          will-change: transform;

          .front {
            @apply w-full h-full flex flex-col items-center justify-center;
            animation: flipOut1 600ms cubic-bezier(0.03, 0.98, 0.52, 0.99) forwards;

            .character-img {
              @apply w-full relative rounded-t-2xl flex place-items-center;
              min-height: 320px;
              max-height: 320px;
              background-image: url('../assets/imgs/bgcharacter.webp');
              background-position: center;
              background-size: cover;

              img {
                @apply absolute top-0 w-full h-full object-contain object-center aspect-square active:scale-105;
                min-height: 340px;
                max-height: 340px;
                transition: transform 200ms ease-in-out;
              }
            }
            .character-name {
              @apply w-full flex justify-center items-center text-2xl text-yellow-400 font-bold bg-slate-600 p-4 rounded-b-2xl;
            }
          }

          .back {
            @apply absolute min-w-full min-h-full bg-white rounded-2xl;
            background-image: url('../assets/imgs/back-card.jpg');
            background-position: center;
            background-size: cover;
            animation: flipIn1 600ms cubic-bezier(0.03, 0.98, 0.52, 0.99) forwards;
          }
        }
      }
    }
    
    .cards-list.flipped {
      .card {
        .front {
          animation: flipIn2 600ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
        }
        .back {
          animation: flipOut2 600ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
        }
      }
    }

    @media (min-width: 640px) {
      .cards-list {
        grid-template-columns: repeat(2, minmax(0, 260px));
        gap: 4rem;
      }
    }

    @media (min-width: 1000px) {
      .cards-list {
        grid-template-columns: repeat(3, minmax(0, 260px));
      }
    }
    @media (min-width: 1280px) {
      .cards-list.medium,
      .cards-list.hard {
        grid-template-columns: repeat(4, minmax(0, 260px));
        gap: 3rem;
      }
    }
    @media (min-width: 1480px) {
      .cards-list.hard {
        grid-template-columns: repeat(5, minmax(220px, 1fr));
        gap: 2rem;
      }
    }
  }

  @media (min-width: 640px) {
    .header {
      padding-inline: 2rem /* 64px */;
    }
  }

  @media (min-width: 1280px) {
    .header {
      margin-top: 1rem;
      padding-inline: 1rem;
    }
  }
}

@keyframes flipIn1 {
  0% {
    transform: rotateY(0deg) translateZ(1px);
  }
  100% {
    transform: rotateY(180deg) translateZ(1px);
  }
}

@keyframes flipOut1 {
  0% {
    transform: rotateY(-180deg) translateZ(1px);
  }
  100% {
    transform: rotateY(0deg) translateZ(1px);
  }
}

@keyframes flipIn2 {
  0% {
    transform: rotateY(0deg) translateZ(1px);
  }
  100% {
    transform: rotateY(-180deg) translateZ(1px);
  }
}

@keyframes flipOut2 {
  0% {
    transform: rotateY(180deg) translateZ(1px);
  }
  100% {
    transform: rotateY(0deg) translateZ(1px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
